/*.icon-bilibili:before {
  content: "\e600";
} */
/* 卡片处小图标 */
.card_icon_bilibili {
  /* 修改颜色 */
  color: #FF69B4;
  /* 修改大小 */
  font-size: 24px;
   
}

.card_icon_git{
  /* 修改颜色 */
  color: #6495ED;
  /* 修改大小 */
  font-size: 24px;
}

.card_icon_qq{
  /* 修改颜色 */
  color:#FF8C00 ;
  /* 修改大小 */
  font-size: 24px;
}

.card_icon_csdn{
  /* 修改颜色 */
  color: #FF0000;
  /* 修改大小 */
  font-size: 24px;
}

.card_icon_zhihu{
  /* 修改颜色 */
  color: #00BFFF;
  /* 修改大小 */
  font-size: 24px;
}